# Wi-Fi
CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"

# Audio
CONFIG_SND_SOC_SAMSUNG_EXYNOS_TFA9878=m
CONFIG_SEC_SND_SYNCHRONIZED_IPC=m
CONFIG_SND_SOC_TFA9878=m
CONFIG_TFA_STEREO_NODE=y
CONFIG_PLATFORM_EXYNOS=y

# Camera
CONFIG_CAMERA_AAW_A54X=y
CONFIG_CAMERA_CIS_3L6_OBJ=m
CONFIG_CAMERA_CIS_GC5035_OBJ=m
CONFIG_CAMERA_CIS_IMX616_OBJ=m
CONFIG_CAMERA_CIS_GD2_OBJ=m
CONFIG_CAMERA_CIS_IMX766_OBJ=m
CONFIG_CAMERA_ACT_AK737X_OBJ=m
CONFIG_CAMERA_FLASH_SM5714_OBJ=m

# Charger
CONFIG_CHARGER_SM5714=m
CONFIG_CHARGER_SM5451=m
CONFIG_FUELGAUGE_SM5714=m
CONFIG_UI_SOC_PROLONGING=y
CONFIG_SEC_PM_THERMISTOR=m
CONFIG_DIRECT_CHARGING=m

# DRM
CONFIG_EXYNOS_DMA_RCD=y
CONFIG_EXYNOS_CMD_SVSYNC=y
CONFIG_EXYNOS_CMD_SVSYNC_ONOFF=y
CONFIG_EXYNOS_FREQ_HOP=m

# Fingerprint
CONFIG_SENSORS_FINGERPRINT_NORMALSPI=y

# Haptic
CONFIG_SEC_VIBRATOR_INPUTFF=m
CONFIG_INPUT_AW8622X_HAPTIC=m
CONFIG_AW8622X_SAMSUNG_FEATURE=y

# LEDS
CONFIG_LEDS_SM5714=m

# MFD
CONFIG_MFD_SM5714=m

# NFC
CONFIG_NFC_SN2XX=y
CONFIG_NFC_SN2XX_ESE_SUPPORT=y
CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE=y

# NFC-MST (KOR)
CONFIG_MST_LDO=m
CONFIG_MST_ARCH_EXYNOS=y
# CONFIG_MST_ARCH_QCOM is not set
# CONFIG_MST_ARCH_MTK is not set
# CONFIG_MST_V2 is not set
# CONFIG_MST_SUPPORT_GPIO is not set
# CONFIG_MST_NONSECURE is not set
# CONFIG_MST_IF_PMIC is not set
# CONFIG_MFC_CHARGER is not set
CONFIG_MST_TEEGRIS=y
# CONFIG_MST_DUMMY_DRV is not set

# Panel
CONFIG_USDM_PANEL_S6E3FC5=m
CONFIG_USDM_PANEL_AOD_BL=y
CONFIG_USDM_FACTORY_GCT_TEST=y
CONFIG_USDM_FACTORY_ECC_TEST=y
CONFIG_USDM_PANEL_MASK_LAYER=y
CONFIG_USDM_PANEL_EVASION_DISP_DET=y
CONFIG_USDM_PANEL_RCD=y
CONFIG_USDM_PANEL_ID_READ_REG_04=y
CONFIG_USDM_PANEL_ID_READ_BY_HSDT=y

# QRNG (KOR)
CONFIG_HW_RANDOM_S2Q000=m
CONFIG_HW_RANDOM_S2Q000_MISC_DEVICE=y
CONFIG_HW_RANDOM_S2Q000_QUALITY=499
CONFIG_HW_RANDOM_S2Q000_TIMER=y
CONFIG_HW_RANDOM_S2Q000_DIAG_TIMEOUT_LIMIT=2000

# Regulator
CONFIG_REGULATOR_S2MPB03=m

# Sensors
CONFIG_SENSORS_GW9558X=m
CONFIG_INPUT_HALL_IC=m
CONFIG_HALL_NOTIFIER=m
CONFIG_HALL_LOGICAL=m
CONFIG_SENSORS_ISG6320=m
# CONFIG_SENSORS_ISG6320_SUB is not set
# CONFIG_SENSORS_ISG6320_SUB2 is not set
# CONFIG_SENSORS_ISG6320_WIFI is not set
CONFIG_SENSORS_SUPPORT_SLSI=y
CONFIG_USE_MULTI_CHANNEL=y

# Touchscreen
CONFIG_TOUCHSCREEN_SYNAPTICS=m

# USB
CONFIG_USB_VENDOR_NOTIFY=y
CONFIG_USB_VENDOR_RECEIVER=m
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_BCD_RESCAN=y
# CONFIG_MUIC_QC_DISABLE is not set
CONFIG_PDIC_SM5714=m
CONFIG_SM5714_FACTORY_MODE=y
CONFIG_SM5714_WATER_DETECTION_ENABLE=y
CONFIG_SM5714_SUPPORT_SBU=y
# CONFIG_SM5714_DISABLE_PD is not set
# CONFIG_SM5714_CC_I2C_VERIFY is not set
# CONFIG_SM5714_NORMAL_DRP is not set
